*.log
.htaccess
sitemap.xml
sitemap.xml.gz


# no backup files, editor temp
*~
\#*
*.bak
/mainfile.php
/xoops_data/caches/smarty_cache/*.php
/xoops_data/caches/smarty_compile/*.php
/xoops_data/caches/xoops_cache/*.php
/xoops_data/caches/xoops_cache/*/
/xoops_data/configs/*
/xoops_data/stash/*/
/xoops_data/composer/
/xoops_data/data/secure.php
/xoops_data/logs/
/xoops_lib/vendor/
/xoops_lib/composer.lock
/uploads/avatars/
/uploads/banners/
/uploads/images/
/uploads/filemanager/
/assets/*/
/UnitTestXoops/*.lnk
.idea/
/.idea/

#xpress

/modules/xpress/wp-config.php
/modules/xpress/wp-content/advanced-cache.php
/modules/xpress/wp-content/backup-db/
/modules/xpress/wp-content/backups/
/modules/xpress/wp-content/blogs.dir/
/modules/xpress/wp-content/cache/
/modules/xpress/wp-content/upgrade/
/modules/xpress/wp-content/uploads/
/modules/xpress/wp-content/wp-cache-config.php
